In [39]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv('C:/Users/01din/Documents/University/DA/madness/data.csv')
df1 = pd.read_csv('C:/Users/01din/Documents/University/DA/madness/data_1.csv')
df2 = pd.read_csv('C:/Users/01din/Documents/University/DA/madness/data_3.csv')
df3 = pd.read_csv('C:/Users/01din/Documents/University/DA/madness/data_4.csv')
df4 = pd.read_csv('C:/Users/01din/Documents/University/DA/madness/data_1_dealer.csv')
df5 = pd.read_csv('C:/Users/01din/Documents/University/DA/madness/data_2_dealer.csv')
df6 = pd.read_csv('C:/Users/01din/Documents/University/DA/madness/data_3_dealer.csv')

In [21]:
df = pd.concat([df, df1, df2, df3, df4, df5, df6])

Check contents of cells; lot of cleaning to be done!

In [22]:
df

,Title,Seller,Price,Location,Year,Ran,Engine Type,Transmission,Body
0,Overheidsveiling bedrijfsvoertuigen & groen- e...,Onlineveilingmeester,e omschrijving,Heerenveen,NaN,NaN,NaN,NaN,NaN
1,Fiat Doblo Cargo 1.9 JTD Grijs Kenteken Bestel...,I Boumans,"500,-",Gennep,2005,199.313 km,Diesel,Handgeschakeld,I Boumans
2,Ford Ranger Open-laadbak 2.2TDCI 160PK Dubbele...,DUTCH Vans,"22.600,-",Barneveld,2017,107.195 km,Diesel,Handgeschakeld,DUTCH Vans
3,Aixam Roadline -2008- incl. 3 mnd garantie + o...,Garage Kaal & Buunk,"6.950,-",Beek,2008,47.108 km,Diesel,Automaat,Garage Kaal & Buunk
4,Audi A3 S-Line Sportback Facelift 2013 Wit,Jeroen,"11.000,-",Lent,2013,201.500 km,NaN,Benzine,Handgeschakeld
...,...,...,...,...,...,...,...,...,...
1695,"Mitsubishi Outlander 2.0 I Phev 4WD 2015 Wit, ...",Simone,"16.950,-",Twijzel,2015,235.131 km,NaN,LPG,Automaat
1696,Peugeot 2008 1.2 PureTech Féline 130PK! Pano/N...,Beer van Susteren,"11.790,-",Nederweert,2015,139.180 km,NaN,Benzine,Handgeschakeld
1697,Audi Q7 3.0 TFSI quattro 2xS-line luchtvering-...,Diverse koopjes,"46.950,-",Oosterhout,2016,188.000 km,Benzine,Automaat,SUV of Terreinwagen
1698,Ferret scout car MK II Operation Granby Desse...,Gert Zwiers,"39.500,-",Emmer-Compascuum,1959,Benzine,Automaat,Overige carrosserieën,Gert Zwiers
1699,Volkswagen Caddy Bestelbus 2.0TDI 150PK DSG Au...,DUTCH Vans,"17.700,-",Barneveld,2018,180.088 km,Diesel,Automaat,DUTCH Vans

In [23]:
df.Body.value_counts()

Handgeschakeld          2019
Hatchback               1271
Automaat                1265
Regeljelease.nl         1010
SUV of Terreinwagen      995
                        ...
Arsenius                   1
KRC                        1
2010                       1
2021                       1
2011                       1
Name: Body, Length: 250, dtype: int64

Exctract only correct values, by mapping the correct values all others will be set to NaN

In [24]:
bodies = ['Overige carrosserieën ', 'Stationwagon ', 'Coupé ', 'SUV of Terreinwagen ', 'Hatchback ', 'Sedan ', 'Cabriolet ', 'MPV ']

df.loc[~df['Body'].isin(bodies), 'Body'] = pd.np.nan

C:\Users\01din\AppData\Local\Temp\ipykernel_4628\2221052416.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df.loc[~df['Body'].isin(bodies), 'Body'] = pd.np.nan

In [25]:
df.Body.value_counts()

Hatchback                 1271
SUV of Terreinwagen        995
Stationwagon               440
Sedan                      335
Cabriolet                  216
MPV                        143
Coupé                      119
Overige carrosserieën       68
Name: Body, dtype: int64

In [26]:
df.Transmission.value_counts()

Handgeschakeld                  4671
Automaat                        3295
Benzine                         2115
Diesel                           884
Elektrisch                       113
                                ...
verhoeftrucks                      1
Mark saam                          1
inge                               1
ruud                               1
Auto Aanpassingen Zoetermeer       1
Name: Transmission, Length: 76, dtype: int64

In [27]:
transmissions = ['Handgeschakeld ', 'Automaat ']

df.loc[~df['Transmission'].isin(transmissions), 'Transmission'] = pd.np.nan

C:\Users\01din\AppData\Local\Temp\ipykernel_4628\898678673.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df.loc[~df['Transmission'].isin(transmissions), 'Transmission'] = pd.np.nan

In [28]:
df.Transmission.value_counts()

Handgeschakeld     4671
Automaat           3295
Name: Transmission, dtype: int64

In [29]:
df['Engine Type'].value_counts()

Diesel                                  4733
Benzine                                 2776
Elektrisch                               163
Hybride Elektrisch/Benzine               148
Overige brandstoffen                     114
Handgeschakeld                           110
Automaat                                  90
LPG                                       90
Vissinga Bedrijfswagens                   13
BIT BV                                     9
DUTCH VANS                                 8
Millbrooks Ram specialist                  7
Cabriolet                                  4
JEF Trucks & Trailers                      4
Hybride Elektrisch/Diesel                  4
Bedrijfsauto Inkoop | Auto Verkopen?       4
Mark                                       4
Gerry van  de Sande                        3
michael                                    3
CNG (Aardgas)                              3
Kihon                                      3
gert en sandra                             2
Automotive Soest                           2
Klussenbedrijf Goldenhands                 2
dirkdegroot handelsonderneming             2
AuctionPort                                2
AGPRO BV                                   2
Midejo machines                            2
David Rudolf                               2
Paes Classics                              2
Erwin                                      2
rijsenhout                                 1
Van Bindsbergen Minicars                   1
roks                                       1
Hatchback                                  1
johan                                      1
Ronald Verwimp                             1
Gert                                       1
Classic Sales                              1
handelsonderneming Rejoh                   1
Bourjel                                    1
Autoservice HSN                            1
h&bclassiccars                             1
kooy                                       1
Niels                                      1
Rudi                                       1
j&a auto's                                 1
roefs                                      1
henk                                       1
ghos                                       1
Zachary Wallen                             1
Sil                                        1
wj bek                                     1
Vb                                         1
Auto Aanpassingen Zoetermeer               1
Name: Engine Type, dtype: int64

In [30]:
engine_types = ['Diesel ', 'Benzine ', 'Elektrisch ', 'Hybride Elektrisch/Benzine ', 'Overige brandstoffen ', 'LPG ', 'Hybride Elektrisch/Diesel ', 'CNG (Aardgas) ']

df.loc[~df['Engine Type'].isin(engine_types), 'Engine Type'] = pd.np.nan

C:\Users\01din\AppData\Local\Temp\ipykernel_4628\3416857473.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df.loc[~df['Engine Type'].isin(engine_types), 'Engine Type'] = pd.np.nan

In [31]:
df['Engine Type'].value_counts()

Diesel                         4733
Benzine                        2776
Elektrisch                      163
Hybride Elektrisch/Benzine      148
Overige brandstoffen            114
LPG                              90
Hybride Elektrisch/Diesel         4
CNG (Aardgas)                     3
Name: Engine Type, dtype: int64

In [32]:
df.Ran.iloc[1]

'199.313 km'

In [47]:
df.Ran = df.Ran.astype(str)
mask = ~df['Ran'].str.endswith('km')

In [48]:
df.loc[mask, 'Ran'] = np.nan

In [53]:
df.Ran.value_counts()

,Title,Seller,Price,Location,Year,Ran,Engine Type,Transmission,Body
0,Overheidsveiling bedrijfsvoertuigen & groen- e...,Onlineveilingmeester,e omschrijving,Heerenveen,nan,NaN,NaN,NaN,NaN
1,Fiat Doblo Cargo 1.9 JTD Grijs Kenteken Bestel...,I Boumans,"500,-",Gennep,2005,199.313 km,Diesel,Handgeschakeld,NaN
2,Ford Ranger Open-laadbak 2.2TDCI 160PK Dubbele...,DUTCH Vans,"22.600,-",Barneveld,2017,107.195 km,Diesel,Handgeschakeld,NaN
3,Aixam Roadline -2008- incl. 3 mnd garantie + o...,Garage Kaal & Buunk,"6.950,-",Beek,2008,47.108 km,Diesel,Automaat,NaN
4,Audi A3 S-Line Sportback Facelift 2013 Wit,Jeroen,"11.000,-",Lent,2013,201.500 km,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1695,"Mitsubishi Outlander 2.0 I Phev 4WD 2015 Wit, ...",Simone,"16.950,-",Twijzel,2015,235.131 km,NaN,NaN,NaN
1696,Peugeot 2008 1.2 PureTech Féline 130PK! Pano/N...,Beer van Susteren,"11.790,-",Nederweert,2015,139.180 km,NaN,NaN,NaN
1697,Audi Q7 3.0 TFSI quattro 2xS-line luchtvering-...,Diverse koopjes,"46.950,-",Oosterhout,2016,188.000 km,Benzine,Automaat,SUV of Terreinwagen
1698,Ferret scout car MK II Operation Granby Desse...,Gert Zwiers,"39.500,-",Emmer-Compascuum,1959,NaN,NaN,NaN,NaN
1699,Volkswagen Caddy Bestelbus 2.0TDI 150PK DSG Au...,DUTCH Vans,"17.700,-",Barneveld,2018,180.088 km,Diesel,Automaat,NaN

In [44]:
df.Year = df.Year.astype(str)
mask = ~df['Year'].str.len() == 4

In [54]:
df.loc[mask, 'Year'] = np.nan

In [55]:
df.Year.value_counts()

2018     1450
2017     1197
2019     1089
2016      961
2020      872
         ...
1959        1
1964        1
1965        1
1954        1
1929        1
Name: Year, Length: 71, dtype: int64

In [58]:
df.to_csv('C:/Users/01din/Documents/University/DA/madness/data_clean.csv')