In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import linear_model as lm
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

# Plot settings
plt.rcParams['figure.figsize'] = (12, 9)
plt.rcParams['font.size'] = 12

In [4]:
df = pd.read_csv('data/data.csv')

Check contents of cells; lot of cleaning to be done!

In [5]:
df

,Unnamed: 0,Title,Seller,Price,Location,Year,Ran,Engine Type,Transmission,Body,province
0,0,Overheidsveiling bedrijfsvoertuigen & groen- e...,Onlineveilingmeester,e omschrijving,Heerenveen,NaN,NaN,NaN,NaN,NaN,Fryslân
1,1,Fiat Doblo Cargo 1.9 JTD Grijs Kenteken Bestel...,I Boumans,"18.500,-",Gennep,2005,199.313 km,Diesel,Handgeschakeld,NaN,Limburg
2,2,Ford Ranger Open-laadbak 2.2TDCI 160PK Dubbele...,DUTCH Vans,"22.600,-",Barneveld,2017,107.195 km,Diesel,Handgeschakeld,NaN,Gelderland
3,3,Aixam Roadline -2008- incl. 3 mnd garantie + o...,Garage Kaal & Buunk,"6.950,-",Beek,2008,47.108 km,Diesel,Automaat,NaN,Limburg
4,4,Audi A3 S-Line Sportback Facelift 2013 Wit,Jeroen,"11.000,-",Lent,2013,201.500 km,NaN,NaN,NaN,Gelderland
...,...,...,...,...,...,...,...,...,...,...,...
13391,13391,Renault Trafic L2 H1 2021 €344 per maand,Action Lease,"24.700,-",Heel Nederland,2021,67.051 km,Diesel,Handgeschakeld,NaN,In every province
13392,13392,Renault Master L3 H1 2022 €635 per maand,Action Lease,"41.800,-",Heel Nederland,2022,60 km,Diesel,Handgeschakeld,NaN,In every province
13393,13393,Iveco Daily L2 H2 2022 €648 per maand,Action Lease,"42.600,-",Heel Nederland,2022,30 km,Diesel,Automaat,NaN,In every province
13394,13394,Volkswagen Crafter L2 H2 2017 €247 per maand,Action Lease,"17.600,-",Heel Nederland,2017,198.504 km,Diesel,Handgeschakeld,NaN,In every province
13395,13395,Volkswagen Transporter L1 H1 2018 €289 per maand,Action Lease,"20.800,-",Heel Nederland,2018,189.595 km,Diesel,Handgeschakeld,NaN,In every province

In [6]:
df.Body.value_counts()

Hatchback                 1431
SUV of Terreinwagen       1100
Stationwagon               481
Sedan                      377
Cabriolet                  260
MPV                        162
Coupé                      137
Overige carrosserieën       83
Name: Body, dtype: int64

Exctract only correct values, by mapping the correct values all others will be set to NaN

In [7]:
bodies = ['Overige carrosserieën ', 'Stationwagon ', 'Coupé ', 'SUV of Terreinwagen ', 'Hatchback ', 'Sedan ', 'Cabriolet ', 'MPV ']

df.loc[~df['Body'].isin(bodies), 'Body'] = pd.np.nan

C:\Users\01din\AppData\Local\Temp\ipykernel_4388\2221052416.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df.loc[~df['Body'].isin(bodies), 'Body'] = pd.np.nan

In [8]:
df.Body.value_counts()

Hatchback                 1431
SUV of Terreinwagen       1100
Stationwagon               481
Sedan                      377
Cabriolet                  260
MPV                        162
Coupé                      137
Overige carrosserieën       83
Name: Body, dtype: int64

In [9]:
df.Transmission.value_counts()

Handgeschakeld     5491
Automaat           3697
Name: Transmission, dtype: int64

In [10]:
transmissions = ['Handgeschakeld ', 'Automaat ']

df.loc[~df['Transmission'].isin(transmissions), 'Transmission'] = pd.np.nan

C:\Users\01din\AppData\Local\Temp\ipykernel_4388\898678673.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df.loc[~df['Transmission'].isin(transmissions), 'Transmission'] = pd.np.nan

In [11]:
df.Transmission.value_counts()

Handgeschakeld     5491
Automaat           3697
Name: Transmission, dtype: int64

In [12]:
df['Engine Type'].value_counts()

Diesel                         5539
Benzine                        3124
Elektrisch                      196
Hybride Elektrisch/Benzine      156
Overige brandstoffen            125
LPG                             113
Hybride Elektrisch/Diesel         5
CNG (Aardgas)                     4
Name: Engine Type, dtype: int64

In [13]:
engine_types = ['Diesel ', 'Benzine ', 'Elektrisch ', 'Hybride Elektrisch/Benzine ', 'Overige brandstoffen ', 'LPG ', 'Hybride Elektrisch/Diesel ', 'CNG (Aardgas) ']

df.loc[~df['Engine Type'].isin(engine_types), 'Engine Type'] = pd.np.nan

C:\Users\01din\AppData\Local\Temp\ipykernel_4388\3416857473.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df.loc[~df['Engine Type'].isin(engine_types), 'Engine Type'] = pd.np.nan

In [14]:
df['Engine Type'].value_counts()

Diesel                         5539
Benzine                        3124
Elektrisch                      196
Hybride Elektrisch/Benzine      156
Overige brandstoffen            125
LPG                             113
Hybride Elektrisch/Diesel         5
CNG (Aardgas)                     4
Name: Engine Type, dtype: int64

In [15]:
df.Ran.iloc[1]

'199.313 km'

In [16]:
df.Ran = df.Ran.astype(str)
mask = ~df['Ran'].str.endswith('km')

In [17]:
df.loc[mask, 'Ran'] = np.nan

In [18]:
df.Ran.value_counts()

1 km          72
10 km         44
92.330 km     41
100 km        34
60.367 km     31
              ..
60.507 km      1
111.522 km     1
53.497 km      1
79.745 km      1
189.595 km     1
Name: Ran, Length: 6635, dtype: int64

In [19]:
df.Year = df.Year.astype(str)
mask = ~df['Year'].str.len() == 4

In [20]:
df.loc[mask, 'Year'] = np.nan

In [21]:
df.Year.value_counts()

2018          1684
2017          1377
2019          1266
2016          1092
2020          1031
              ...
1976             1
20.456 km        1
98.119 km        1
103.276 km       1
50.213 km        1
Name: Year, Length: 135, dtype: int64

In [22]:
# import requests
# import json
#
# url = 'https://metatopos.dijkewijk.nl/metatopos-places.json'
# response = requests.get(url)
#
# if response.status_code == 200:
#     json_content = json.loads(response.content)
#     print(json_content)
# else:
#     print('Failed to retrieve JSON content from the URL')

In [23]:
# places = json_content.get('places')
# with open('data/places.json', 'w') as outfile:
#     json.dump(places, outfile)

In [24]:
places_df = pd.read_json('data/places.json')
places_df = places_df[['place', 'municipality', 'province']]

In [25]:
municipalities = places_df.municipality.unique()
places = places_df.place.unique()
for municipality in municipalities:
    if municipality not in places:
        temp_df = pd.DataFrame({'place':municipality, 'municipality':municipality, 'province':places_df.province.loc[places_df.municipality == municipality].iloc[0]}, index=[0])
        places_df = pd.concat([places_df,temp_df], axis=0)
places_df = places_df[['place', 'province']]
places_df.rename(columns={'place':'Location'}, inplace=True)

In [26]:
places_df.drop_duplicates(subset=['Location'])

                 Location       province
0           1e Exloërmond        Drenthe
1           2e Exloërmond        Drenthe
2          2e Valthermond        Drenthe
3             2e Vlotbrug   Zuid-Holland
4            's-Graveland  Noord-Holland
..                    ...            ...
0            Drechterland  Noord-Holland
0              Wormerland  Noord-Holland
0           Albrandswaard   Zuid-Holland
0   Leidschendam-Voorburg   Zuid-Holland
0               Teylingen   Zuid-Holland

[5571 rows x 2 columns]

In [27]:
df = df.merge(places_df[['Location', 'province']].drop_duplicates(subset=['Location']), on='Location', how='left')
df = df.merge(places_df[['Location', 'province']].drop_duplicates(subset=['Location']), on='Location', how='left')

In [28]:
df['province'].fillna('In every province', inplace=True)

In [29]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In order to work with the values in the columns, we must convert numerical values to numbers, rather than string. This can be done using regex.

In [30]:
df['Price'] = df['Price'].str.replace('[^0-9]', '', regex=True)
df['Price'] = df['Price'].replace('', np.nan)
df = df.dropna(subset=['Price'])
df['Price'] = pd.to_numeric(df['Price'])
df['Ran'] = df['Ran'].str.replace('[^0-9]', '', regex=True)
df['Price'] = df['Price'].replace('', np.nan)
df = df.dropna(subset=['Price'])
df['Ran'] = pd.to_numeric(df['Ran'])
df

,Title,Seller,Price,Location,Year,Ran,Engine Type,Transmission,Body,province_x,province_y,province
1,Fiat Doblo Cargo 1.9 JTD Grijs Kenteken Bestel...,I Boumans,18500,Gennep,2005,199313.0,Diesel,Handgeschakeld,NaN,Limburg,Limburg,Limburg
2,Ford Ranger Open-laadbak 2.2TDCI 160PK Dubbele...,DUTCH Vans,22600,Barneveld,2017,107195.0,Diesel,Handgeschakeld,NaN,Gelderland,Gelderland,Gelderland
3,Aixam Roadline -2008- incl. 3 mnd garantie + o...,Garage Kaal & Buunk,6950,Beek,2008,47108.0,Diesel,Automaat,NaN,Limburg,Limburg,Limburg
4,Audi A3 S-Line Sportback Facelift 2013 Wit,Jeroen,11000,Lent,2013,201500.0,NaN,NaN,NaN,Gelderland,Gelderland,Gelderland
5,Mercedes-Benz Sprinter 314CDI 143pk L2H2 Koelw...,Van der Wal Vans,32900,Langerak,2018,148939.0,Diesel,Handgeschakeld,NaN,Drenthe,Drenthe,Drenthe
...,...,...,...,...,...,...,...,...,...,...,...,...
13391,Renault Trafic L2 H1 2021 €344 per maand,Action Lease,24700,Heel Nederland,2021,67051.0,Diesel,Handgeschakeld,NaN,In every province,NaN,In every province
13392,Renault Master L3 H1 2022 €635 per maand,Action Lease,41800,Heel Nederland,2022,60.0,Diesel,Handgeschakeld,NaN,In every province,NaN,In every province
13393,Iveco Daily L2 H2 2022 €648 per maand,Action Lease,42600,Heel Nederland,2022,30.0,Diesel,Automaat,NaN,In every province,NaN,In every province
13394,Volkswagen Crafter L2 H2 2017 €247 per maand,Action Lease,17600,Heel Nederland,2017,198504.0,Diesel,Handgeschakeld,NaN,In every province,NaN,In every province
13395,Volkswagen Transporter L1 H1 2018 €289 per maand,Action Lease,20800,Heel Nederland,2018,189595.0,Diesel,Handgeschakeld,NaN,In every province,NaN,In every province

In [31]:
manufacturers = pd.read_csv('data/manufacturers.csv')
manufacturers.make = manufacturers.make.str.lower()
manufacturers

            make
0     alfa romeo
1   aston martin
2           audi
3            bmw
4      chevrolet
..           ...
61      ssanyong
62      daihatsu
63        hummer
64         smart
65         range

[66 rows x 1 columns]

In [32]:
df.Title = df.Title.str.lower()
df.Title = df.Title.str.replace('vw', 'volkswagen')

In [33]:
def extract_make(title):
    for make in manufacturers['make']:
        if make in title:
            return make
    return None
df['Make'] = df['Title'].apply(extract_make)
df['Province'] = df.province
df.drop('province',axis=1)

,Title,Seller,Price,Location,Year,Ran,Engine Type,Transmission,Body,province_x,province_y,Make,Province
1,fiat doblo cargo 1.9 jtd grijs kenteken bestel...,I Boumans,18500,Gennep,2005,199313.0,Diesel,Handgeschakeld,NaN,Limburg,Limburg,fiat,Limburg
2,ford ranger open-laadbak 2.2tdci 160pk dubbele...,DUTCH Vans,22600,Barneveld,2017,107195.0,Diesel,Handgeschakeld,NaN,Gelderland,Gelderland,ford,Gelderland
3,aixam roadline -2008- incl. 3 mnd garantie + o...,Garage Kaal & Buunk,6950,Beek,2008,47108.0,Diesel,Automaat,NaN,Limburg,Limburg,aixam,Limburg
4,audi a3 s-line sportback facelift 2013 wit,Jeroen,11000,Lent,2013,201500.0,NaN,NaN,NaN,Gelderland,Gelderland,audi,Gelderland
5,mercedes-benz sprinter 314cdi 143pk l2h2 koelw...,Van der Wal Vans,32900,Langerak,2018,148939.0,Diesel,Handgeschakeld,NaN,Drenthe,Drenthe,mercedes,Drenthe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13391,renault trafic l2 h1 2021 €344 per maand,Action Lease,24700,Heel Nederland,2021,67051.0,Diesel,Handgeschakeld,NaN,In every province,NaN,renault,In every province
13392,renault master l3 h1 2022 €635 per maand,Action Lease,41800,Heel Nederland,2022,60.0,Diesel,Handgeschakeld,NaN,In every province,NaN,renault,In every province
13393,iveco daily l2 h2 2022 €648 per maand,Action Lease,42600,Heel Nederland,2022,30.0,Diesel,Automaat,NaN,In every province,NaN,None,In every province
13394,volkswagen crafter l2 h2 2017 €247 per maand,Action Lease,17600,Heel Nederland,2017,198504.0,Diesel,Handgeschakeld,NaN,In every province,NaN,volkswagen,In every province
13395,volkswagen transporter l1 h1 2018 €289 per maand,Action Lease,20800,Heel Nederland,2018,189595.0,Diesel,Handgeschakeld,NaN,In every province,NaN,volkswagen,In every province

In [34]:
df

,Title,Seller,Price,Location,Year,Ran,Engine Type,Transmission,Body,province_x,province_y,province,Make,Province
1,fiat doblo cargo 1.9 jtd grijs kenteken bestel...,I Boumans,18500,Gennep,2005,199313.0,Diesel,Handgeschakeld,NaN,Limburg,Limburg,Limburg,fiat,Limburg
2,ford ranger open-laadbak 2.2tdci 160pk dubbele...,DUTCH Vans,22600,Barneveld,2017,107195.0,Diesel,Handgeschakeld,NaN,Gelderland,Gelderland,Gelderland,ford,Gelderland
3,aixam roadline -2008- incl. 3 mnd garantie + o...,Garage Kaal & Buunk,6950,Beek,2008,47108.0,Diesel,Automaat,NaN,Limburg,Limburg,Limburg,aixam,Limburg
4,audi a3 s-line sportback facelift 2013 wit,Jeroen,11000,Lent,2013,201500.0,NaN,NaN,NaN,Gelderland,Gelderland,Gelderland,audi,Gelderland
5,mercedes-benz sprinter 314cdi 143pk l2h2 koelw...,Van der Wal Vans,32900,Langerak,2018,148939.0,Diesel,Handgeschakeld,NaN,Drenthe,Drenthe,Drenthe,mercedes,Drenthe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13391,renault trafic l2 h1 2021 €344 per maand,Action Lease,24700,Heel Nederland,2021,67051.0,Diesel,Handgeschakeld,NaN,In every province,NaN,In every province,renault,In every province
13392,renault master l3 h1 2022 €635 per maand,Action Lease,41800,Heel Nederland,2022,60.0,Diesel,Handgeschakeld,NaN,In every province,NaN,In every province,renault,In every province
13393,iveco daily l2 h2 2022 €648 per maand,Action Lease,42600,Heel Nederland,2022,30.0,Diesel,Automaat,NaN,In every province,NaN,In every province,None,In every province
13394,volkswagen crafter l2 h2 2017 €247 per maand,Action Lease,17600,Heel Nederland,2017,198504.0,Diesel,Handgeschakeld,NaN,In every province,NaN,In every province,volkswagen,In every province
13395,volkswagen transporter l1 h1 2018 €289 per maand,Action Lease,20800,Heel Nederland,2018,189595.0,Diesel,Handgeschakeld,NaN,In every province,NaN,In every province,volkswagen,In every province

In [35]:
# import json
# import urllib
# import requests
#
# url = 'https://parseapi.back4app.com/classes/Car_Model_List?limit=100000&keys=Model'
# headers = {
#     'X-Parse-Application-Id': 'hlhoNKjOvEhqzcVAJ1lxjicJLZNVv36GdbboZj3Z', # This is the fake app's application id
#     'X-Parse-Master-Key': 'SNMJJF0CZZhTPhLDIqGhTlUNV9r60M2Z5spyWfXW' # This is the fake app's readonly master key
# }
# data = json.loads(requests.get(url, headers=headers).content.decode('utf-8')) # Here you have the data that you need
# print(json.dumps(data, indent=2))

In [36]:
# with open('data/models.json', 'w') as outfile:
#     json.dump(data, outfile)

In [40]:
models = pd.read_csv('data/models.csv')

In [42]:
models_list = models.results.to_list()
models_list.append('mégane')
models_list.append('scénic')
models_list.append('huracán')

In [46]:
def extract_model(title):
    for model in models_l:
        if model in title.split():
            return model
    return None
df['Model'] = df['Title'].apply(extract_model)

C:\Users\01din\AppData\Local\Temp\ipykernel_4388\3616775089.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Model'] = df['Title'].apply(extract_model)

In [47]:
df = df[['Make', 'Model', 'Price', 'Year', 'Ran', 'Engine Type', 'Transmission', 'Location', 'Province', 'Seller', 'Title', 'Body']]

In [48]:
df

,Make,Model,Price,Year,Ran,Engine Type,Transmission,Location,Province,Seller,Title,Body
1,fiat,doblo,18500,2005,199313.0,Diesel,Handgeschakeld,Gennep,Limburg,I Boumans,fiat doblo cargo 1.9 jtd grijs kenteken bestel...,NaN
2,ford,ranger,22600,2017,107195.0,Diesel,Handgeschakeld,Barneveld,Gelderland,DUTCH Vans,ford ranger open-laadbak 2.2tdci 160pk dubbele...,NaN
3,aixam,roadline,6950,2008,47108.0,Diesel,Automaat,Beek,Limburg,Garage Kaal & Buunk,aixam roadline -2008- incl. 3 mnd garantie + o...,NaN
4,audi,a3,11000,2013,201500.0,NaN,NaN,Lent,Gelderland,Jeroen,audi a3 s-line sportback facelift 2013 wit,NaN
5,mercedes,sprinter,32900,2018,148939.0,Diesel,Handgeschakeld,Langerak,Drenthe,Van der Wal Vans,mercedes-benz sprinter 314cdi 143pk l2h2 koelw...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13391,renault,h1,24700,2021,67051.0,Diesel,Handgeschakeld,Heel Nederland,In every province,Action Lease,renault trafic l2 h1 2021 €344 per maand,NaN
13392,renault,h1,41800,2022,60.0,Diesel,Handgeschakeld,Heel Nederland,In every province,Action Lease,renault master l3 h1 2022 €635 per maand,NaN
13393,None,h2,42600,2022,30.0,Diesel,Automaat,Heel Nederland,In every province,Action Lease,iveco daily l2 h2 2022 €648 per maand,NaN
13394,volkswagen,h2,17600,2017,198504.0,Diesel,Handgeschakeld,Heel Nederland,In every province,Action Lease,volkswagen crafter l2 h2 2017 €247 per maand,NaN
13395,volkswagen,h1,20800,2018,189595.0,Diesel,Handgeschakeld,Heel Nederland,In every province,Action Lease,volkswagen transporter l1 h1 2018 €289 per maand,NaN

There are a lot of invalid values. We can see the body column is very sparse. We will remove it completely.

In [49]:
df.Body.isna().sum()

9088

In [50]:
df['Engine Type'].isna().sum()

3956

In [51]:
df['Transmission'].isna().sum()

4016

Engine type and transmission are questionable too. We expect the most important columns to be make, model. ran, and year. Transmission and engine type might be less important, and sacrificing data for the sake of not having missing values in those columns might not be the move.

In [52]:
df.drop(['Body'], axis=1, inplace=True)

In [53]:
df

,Make,Model,Price,Year,Ran,Engine Type,Transmission,Location,Province,Seller,Title
1,fiat,doblo,18500,2005,199313.0,Diesel,Handgeschakeld,Gennep,Limburg,I Boumans,fiat doblo cargo 1.9 jtd grijs kenteken bestel...
2,ford,ranger,22600,2017,107195.0,Diesel,Handgeschakeld,Barneveld,Gelderland,DUTCH Vans,ford ranger open-laadbak 2.2tdci 160pk dubbele...
3,aixam,roadline,6950,2008,47108.0,Diesel,Automaat,Beek,Limburg,Garage Kaal & Buunk,aixam roadline -2008- incl. 3 mnd garantie + o...
4,audi,a3,11000,2013,201500.0,NaN,NaN,Lent,Gelderland,Jeroen,audi a3 s-line sportback facelift 2013 wit
5,mercedes,sprinter,32900,2018,148939.0,Diesel,Handgeschakeld,Langerak,Drenthe,Van der Wal Vans,mercedes-benz sprinter 314cdi 143pk l2h2 koelw...
...,...,...,...,...,...,...,...,...,...,...,...
13391,renault,h1,24700,2021,67051.0,Diesel,Handgeschakeld,Heel Nederland,In every province,Action Lease,renault trafic l2 h1 2021 €344 per maand
13392,renault,h1,41800,2022,60.0,Diesel,Handgeschakeld,Heel Nederland,In every province,Action Lease,renault master l3 h1 2022 €635 per maand
13393,None,h2,42600,2022,30.0,Diesel,Automaat,Heel Nederland,In every province,Action Lease,iveco daily l2 h2 2022 €648 per maand
13394,volkswagen,h2,17600,2017,198504.0,Diesel,Handgeschakeld,Heel Nederland,In every province,Action Lease,volkswagen crafter l2 h2 2017 €247 per maand
13395,volkswagen,h1,20800,2018,189595.0,Diesel,Handgeschakeld,Heel Nederland,In every province,Action Lease,volkswagen transporter l1 h1 2018 €289 per maand

Let's continue

In [54]:
df_NoNaN = df.dropna(axis = 0, how = 'any')

In [55]:
df_NoNaN

,Make,Model,Price,Year,Ran,Engine Type,Transmission,Location,Province,Seller,Title
1,fiat,doblo,18500,2005,199313.0,Diesel,Handgeschakeld,Gennep,Limburg,I Boumans,fiat doblo cargo 1.9 jtd grijs kenteken bestel...
2,ford,ranger,22600,2017,107195.0,Diesel,Handgeschakeld,Barneveld,Gelderland,DUTCH Vans,ford ranger open-laadbak 2.2tdci 160pk dubbele...
3,aixam,roadline,6950,2008,47108.0,Diesel,Automaat,Beek,Limburg,Garage Kaal & Buunk,aixam roadline -2008- incl. 3 mnd garantie + o...
5,mercedes,sprinter,32900,2018,148939.0,Diesel,Handgeschakeld,Langerak,Drenthe,Van der Wal Vans,mercedes-benz sprinter 314cdi 143pk l2h2 koelw...
6,opel,corsa,18500,2021,26200.0,Benzine,Automaat,Amsterdam,Noord-Holland,Adam,opel corsa 1.2 turbo start/stop 100pk aut 2021...
...,...,...,...,...,...,...,...,...,...,...,...
13390,volkswagen,h1,21800,2018,148087.0,Diesel,Automaat,Heel Nederland,In every province,Action Lease,volkswagen transporter l1 h1 2018 €306 per maand
13391,renault,h1,24700,2021,67051.0,Diesel,Handgeschakeld,Heel Nederland,In every province,Action Lease,renault trafic l2 h1 2021 €344 per maand
13392,renault,h1,41800,2022,60.0,Diesel,Handgeschakeld,Heel Nederland,In every province,Action Lease,renault master l3 h1 2022 €635 per maand
13394,volkswagen,h2,17600,2017,198504.0,Diesel,Handgeschakeld,Heel Nederland,In every province,Action Lease,volkswagen crafter l2 h2 2017 €247 per maand
13395,volkswagen,h1,20800,2018,189595.0,Diesel,Handgeschakeld,Heel Nederland,In every province,Action Lease,volkswagen transporter l1 h1 2018 €289 per maand

If we simply remove all rows with a nan in any column, we are left with nearly 3000 rows. Keep in mind that there are still lease options in this set.

In [56]:
df_no_trans_ET = df.drop(['Engine Type', 'Transmission'], axis=1)

In [57]:
df_no_trans_ET = df_no_trans_ET.dropna(axis = 0, how = 'any')

In [58]:
df_no_trans_ET

,Make,Model,Price,Year,Ran,Location,Province,Seller,Title
1,fiat,doblo,18500,2005,199313.0,Gennep,Limburg,I Boumans,fiat doblo cargo 1.9 jtd grijs kenteken bestel...
2,ford,ranger,22600,2017,107195.0,Barneveld,Gelderland,DUTCH Vans,ford ranger open-laadbak 2.2tdci 160pk dubbele...
3,aixam,roadline,6950,2008,47108.0,Beek,Limburg,Garage Kaal & Buunk,aixam roadline -2008- incl. 3 mnd garantie + o...
4,audi,a3,11000,2013,201500.0,Lent,Gelderland,Jeroen,audi a3 s-line sportback facelift 2013 wit
5,mercedes,sprinter,32900,2018,148939.0,Langerak,Drenthe,Van der Wal Vans,mercedes-benz sprinter 314cdi 143pk l2h2 koelw...
...,...,...,...,...,...,...,...,...,...
13390,volkswagen,h1,21800,2018,148087.0,Heel Nederland,In every province,Action Lease,volkswagen transporter l1 h1 2018 €306 per maand
13391,renault,h1,24700,2021,67051.0,Heel Nederland,In every province,Action Lease,renault trafic l2 h1 2021 €344 per maand
13392,renault,h1,41800,2022,60.0,Heel Nederland,In every province,Action Lease,renault master l3 h1 2022 €635 per maand
13394,volkswagen,h2,17600,2017,198504.0,Heel Nederland,In every province,Action Lease,volkswagen crafter l2 h2 2017 €247 per maand
13395,volkswagen,h1,20800,2018,189595.0,Heel Nederland,In every province,Action Lease,volkswagen transporter l1 h1 2018 €289 per maand

If we choose to drop the engine type and transmission columns before, we are left with 4200.

In [59]:
df_NoNaN.to_csv('data/cleaned/data_NoNaN_all_cols.csv', index=False)
df_no_trans_ET.to_csv('data/cleaned/data_NoNaN.csv', index=False)